*{
    margin: 0;
    padding: 0;
}

#home-section{
    margin-bottom: 20px;
}
.home-container{
    height: 100vh;
    background-image: url("./image\ 23.png");
    background-position: center;
    color: #ffffff;
}


.home-container p{
    text-align: center;
    padding: 10px 0px;
    font-size: 50px;
    font-weight: 548;
}

.header{
    display: flex;
    padding: 20px 0px;
}

.header-content{
    display: flex;
    justify-content: center;
}

.header-content-1{
    width: 20%;
}

.header-content-2{
    width: 60%;
}

.header-content-3{
    width: 20%;
}

.header-content-3 button{
    background-color: #000000;
    color: #ffffff;
    padding: 5px 15px;
    border: .5px solid #ffffff;
    border-radius: 12px;
}

.form-container{
    display: flex;
    justify-content: center ;
}

.form{
    margin-top: -50px;
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    
    box-shadow: 0 2px 5px rgba( 0, 0,0, 0.3);
}

.input{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.input p{
    font-size: 15px;
    padding-left: 7px 0px;
}

.input input{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.input button{
    margin-top: 15px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 10px;
}

.input .input-container{
    position: relative;
}
.input .input-container input{
    padding-left: 25px;
}

.input .input-container i{
    margin-left: -95%;  
    position: absolute;
    top: 30%;
}

#brand-section, #body-type-section, #colection-section, .collection-section-header-container {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}


.brand-section-container, .body-type-section-container, .collection-section-container{
    width: 90vw;
}

.brand-section-header, .body-type-section-header{
    display: flex;
}

.brand-section-button, .body-type-section-header-button{
    width: 89%;
    display: flex;
    justify-content: end
}

.body-type-section-header{
    width: 87%;
}

.brand-section-button a, .body-type-section-button a{
    text-decoration: none;
    color: #000000;
}

.brand-container, .body-type-section-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-content, .body-type-content{
    width: 15%;
    height: 100px;
    background-color: solid grey;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand, .body-type{
    text-align: center;
}

#collection-section{
    background-color: #E5E4E2;
    padding-bottom: 40px;
    margin-bottom: unset;
}

.collection-section-header{
    width: 55%;
    text-align: center;
}

.collection-section-header p{
    padding: 15px 0px;
}

.collection-section-header ul li{
    display: inline;
    padding: 7px 5px;
}

.collection-section-header ul li{
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    padding: 7px 15px;
    border-radius: 30px;
}

.collection-section-header ul li:first-of-type a{
    background-color: #000000;
    color: #ffffff;
}

.collection-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.collection-item img{
    width: 95%;
    height: auto;
}